.icon-button {
    -fx-background-color: transparent;
}
.icon-button:hover {
    -fx-background-color: rgba(160,202,255,0.9), rgba(223,237,255,0.9);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 4px;
}
.icon-button:armed {
    -fx-background-color: rgba(160,202,255,0.9), rgba(223,237,255,0.1);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 4px;
}

.icon-button.active {
    -fx-background-color: rgba(160,202,255,0.9), rgba(223,237,255,0.4);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 4px;
}
.icon-button.active:armed {
    -fx-background-color: rgba(160,202,255,0.9), rgba(223,237,255,0.1);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 4px;
}
.icon-button.active:hover {
    -fx-background-color: rgba(160,202,255,0.9), rgba(223,237,255,0.2);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 4px;
}

#rootSplitPane > .split-pane-divider {
    -fx-padding: 0 2 0 2;
}

.panel {
    -fx-background-color: #f4f4f4;
}