.root {
    -fx-background: #ffffff;
    -fx-font-size: 13;
}

.axis {
    -fx-tick-label-font-size: 15;
}

.table-view:focused {
    -fx-background-color: transparent, -fx-box-border, -fx-control-inner-background;
}